{%- comment -%}
SNIPPET:
  link-list.Liquid

USAGE:
  {%- assign main_menu = linklists.main-menu -%}
  {%- include "link-list", list: main_menu, type: "ol" -%}

PARAMETERS:
  {linklist object} list[ required ] // A linklist containing items.
  {string} type[ = "ul" ] // A string indicating ordered or unordered list.
  {string} first[ optional ] // A string to become the first entry in the list.
  {string} last[ optional ] // A string to become the last entry in the list.

OUTPUT:
  - A nested list of links constructed from the contents of the linklist object.
  - The list is unordered by default (i.e. starting with <ul>).
    A parameter switches it to an ordered list (i.e. starting with <ol>).

DESCRIPTION:
  - Renders an html list of links by recursively calling itself on nested items.

TODOs:
  - Add expand/collapse on nested menus via <label> and <input> elements.
    See menu design pattern doc.
  - Limit the number of nesting levels shown:
      - Option 1: Implement a "limit" integer parameter on the snippet that
        limits the number of nesting levels shown
      - Option 2: Support a configurable number of levels via the Shopify Admin
        limits the number of nesting levels shown.
  - Style the snippet to highlight the currently-active link.
  - Do we need to support any class-names?  For example:
      {string} class[ = empty string] // A string for class name.
  - Do we rename this snippet "links-list" or keep as "link-list"?
{%- endcomment -%}

{%- comment -%} MAIN ROUTINE {%- endcomment -%}
{%- if list.links != blank -%}
  {%- if "ol" == type -%} <ol> {%- else -%} <ul> {%- endif -%}
    {%- if first -%}
      <li>{{ first }}</li>
    {%- endif %}
    {%- for link in list.links %}
      <li>
        <a href='{{ link.url }}'>{{ link.title }}</a>
        {%- include "link-list", list: link, type: type -%}
      </li>
    {%- endfor %}
    {%- if last -%}
      <li>{{ last }}</li>
    {%- endif %}
  {%- if "ol" == type -%} </ol> {%- else -%} </ul> {%- endif -%}
{%- endif %}

{%- comment -%} CLEAN UP INTERNAL VARIABLES {%- endcomment -%}
