{% comment %}
NOTES:
  - we follow Slate's convention of wrapping the content of a Section file in
    an element with a "data-section-type" attribute.  The type is taken from
    this attribute's value.
  -

TODOs:
  - Update img tags to use other attributes (i.e. srcset, alt, itemprop, etc).
    See https://css-tricks.com/responsive-images-youre-just-changing-resolutions-use-srcset/
  - Consider using <itemscope & itemtype="http://schema.org/Organization">
    after reviewing Google dev docs.
  - HOW DO YOU ADD/REMOVE GUTTERS?!
  - Consider animating menu icon from "=" to "x" on state transitions.
  - Update "role" attribute for each section
    See https://stackoverflow.com/questions/4170356/what-values-can-the-html5-xhtml-role-attribute-have
  - Create nested menus.
    See https://help.shopify.com/themes/development/building-nested-navigation
  - Fade header, simple code: https://codepen.io/riogrande/pen/gbXxdx
  - Add ARIA tags and elements.
  - Add tags and classes for responsiveness at various breakpoints.
    e.g.  <!-- .small--hide & aria:.icon-fallback-text -->
          <!-- class="medium-up--hide" -->
  - Consider changing "l-"-named classes to "s-".
  - Rename "_row-container" and "_*-slot"
  - Review proper use of <nav> tags on all appropriate elements.
  - Do we apply <nav> to the entire header, or just the part that has
    the menu links?  What do we use for everything else?
{% endcomment %}

<!-- header section (\src\sections\header.liquid) -->
<div data-section-id="{{ section.id }}" data-section-type="section-header">

  <header>
    <nav class="_navigation-bar">
      <div class="_row-container">
        <div class="_left-slot">
          <button type="button" class="_js-slide-menu-drawer">
            <span>{% include "icons", icon: "menu" %}</span>
            <span class="small--hide">Menu</span>
            </span>
          </button>
          <button type="button" class="_js-slide-search-drawer">
            <span>{% include "icons", icon: "search" %}</span>
            <span class="small--hide">Search</span>
          </button>
        </div>
        <div class="_center-slot">
          <span class="_logo">MLCloset</span>
        </div>
        <div class="_right-slot">
          <button type="button">
            <span>{% include "icons", icon: "account" %}</span>
            <span class="small--hide">Sign in</span>
          </button>
          <button type="button">
            <span>{% include "icons", icon: "bag" %}</span>
            <span class="small--hide">
              {{ "layout.cart.title" | t }}
              ({{ cart.item_count }})
            </span>
          </button>
        </div>
      </div>
      <div class="_overlay _l-overlay"></div>
      <div class="_menu-drawer _l-left-sliding">
        {% include "navigation-menu" %}
      </div>
      <div class="_search-drawer _l-top-sliding">
        Search drawer<br/>Slide it from somewhere.
      </div>
    </nav>
    <div class="_header-spacer"></div>
    {%- if section.settings.display_notification_bar -%}
    <div class="_notification-bar">
      Notification bar.<br/>Give it some configurable text.
    </div>
    {%- endif -%}
  </header>

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "label": "Logo image",
        "id": "logo",
        "type": "image_picker"
      },
      {
        "label": "Custom logo width",
        "id": "logo_max_width",
        "type": "range",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "default": 250
      },
      {
        "label": "Menu",
        "id": "main_linklist",
        "type": "link_list",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Notification Bar"
      },
      {
        "label": "Show Notification Bar",
        "id": "display_notification_bar",
        "type": "checkbox",
        "default": false
      },
      {
        "label": "Home Page only",
        "id": "notification_bar_location_home_page_only",
        "type": "checkbox",
        "default": false
      },
      {
        "label": "Notification text",
        "id": "notificaton_bar_text",
        "type": "text",
        "default": "Information or Notification"
      },
      {
        "label": "Notification link",
        "id": "notificaton_bar_link",
        "type": "url",
        "info": "Optional"
      },
      {
        "label": "Background color",
        "id": "notificaton_bar_background_color",
        "type": "color",
        "default": "#cccccc"
      },
      {
        "label": "Text color",
        "id": "notificaton_bar_text_color",
        "type": "color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
