{%- comment -%}-----------------------------------------------------------------
NOTES:
  - we follow Slate's convention of wrapping the content of a Section file in
    an element with a "data-section-type" attribute.  The type is taken from
    this attribute's value.
--------------------------------------------------------------{%- endcomment -%}

<!-- header section (\src\sections\header.liquid) -->
<div data-section-id="{{ section.id }}" data-section-type="header">

  {% include "_header" %}

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "label": "Logo image",
        "id": "logo",
        "type": "image_picker"
      },
      {
        "label": "Custom logo width",
        "id": "logo_max_width",
        "type": "range",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "default": 250
      },
      {
        "label": "Menu",
        "id": "main_linklist",
        "type": "link_list",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Notification Bar"
      },
      {
        "label": "Show Notification Bar",
        "id": "display_notification_bar",
        "type": "checkbox",
        "default": false
      },
      {
        "label": "Home Page only",
        "id": "notification_bar_location_home_page_only",
        "type": "checkbox",
        "default": false
      },
      {
        "label": "Notification text",
        "id": "notificaton_bar_text",
        "type": "text",
        "default": "Information or Notification"
      },
      {
        "label": "Notification link",
        "id": "notificaton_bar_link",
        "type": "url",
        "info": "Optional"
      },
      {
        "label": "Background color",
        "id": "notificaton_bar_background_color",
        "type": "color",
        "default": "#cccccc"
      },
      {
        "label": "Text color",
        "id": "notificaton_bar_text_color",
        "type": "color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}
