{%- comment -%}-----------------------------------------------------------------

Notes:
  - When Shopify renders a section theme tag (i.e. a {-% section %-} tag),
    it wraps each section in a "<div>" element with a unique "[id]" attribute.
    There is no need to write them out explicitly.
  - To configure a section's properties, update its "{ % schema % }" tag.
        https://shopify.dev/tutorials/develop-theme-use-sections
        https://shopify.dev/docs/themes/settings
  - The dependency on these Slate scripts was removed by the new framework:
        \src\scripts\sections\product.js
        \src\scripts\slate\variants.js
    To re-enable this dependency:
      1) Wrap the contents of the "._g-productpage" element with these tags:
           <div data-section-id="{{ section.id }}" data-section-type="product">
             <div class="_g-productpage"> . . . </div>
           </div>
      2) Replace all instances of "XXX-DEPRECATED-XXX" with "" from the modules:
           [_m-optiongroup]
           [_m-addtocart]
         The scripts rely on the remaining attributes being found under the
         tags in #1.

---------------------------------------------------------------{%- endcomment %}

<div class="_g-productpage _js-productpage">
  <div class="_g-productpage-pics">
    {% render "_m-carousel" %}
  </div>
  <div class="_g-productpage-info">
    {% render "_m-heading" %}
    {% render "_m-details" %}
  </div>
  <div class="_g-productpage-cart">
    {% render "_m-variantpricing" %}
    {% for option in product.options_with_values %}
      {% render "_m-optiongroup", product: product, index: forloop.index0 %}
      {% if "Size" == option.name %}
        {% render "_m-sizechart" %}
      {% endif %}
    {% endfor %}
    {% include "_m-addtocart", product: product %}
  </div>
</div>

{% render "_m-related-colorvariants", handle: product.handle, heading: "Other Colors" %}
{% render "_m-related-pairedwith", handle: product.handle, heading: "Outfit Items" %}
{% render "_m-related-alsopairedwith", handle: product.handle, heading: "See It Also Styled With" %}

<script data-product-json type="application/json">
  {{ product | json }}
</script>

<script type="application/ld+json">
  {% render "_jsonld-BreadcrumbList" %}
</script>

<script type="application/ld+json">
  {% render "_jsonld-Product", product: product %}
</script>

{% comment %} Debug Info
{% render "debug-info" %}
{% endcomment %}


{% schema %}
  {
    "name": "Product Page",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": false
      }
    ]
  }
{% endschema %}
